  /* CSS styles for event preview */
  .event-container {
    display: flex;
    justify-content: center;
    /* height: 40vh; */
    font-family: Arial, sans-serif;
    flex-direction: row;
    flex-wrap: wrap;
}

.event-card {
    width: 300px;
    background-color: #f2f2f2;
    margin: 2%;
    padding: 1%;
    height: fit-content;
   border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.event-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.event-description {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.event-date {
    font-size: 14px;
    color: #999;
}

.signUpEventButton {
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 20px;
}

.readMoreEventButton {
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 20px;
}

.EventCreateDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.CreateEventBtn {
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 20px;
}